<link rel="stylesheet" href="/style.css" />

<h1>{{company.name}}</h1>
<img src={{company.logoUrl}} width="200" />
<h2>Menus</h2>
<table>
  <tr>
    <th>Menu Title</th>
    <th>Delete</th>
  </tr>
  {{#each menus}}
    <tr>
      <td>{{this.title}}</td>
      <td><button onclick="deleteMenu({{this.id}})">Delete Menu</button></td>
    </tr>
  {{/each}}
</table>

<h2>Locations</h2>
<table>
  <tr>
    <th>City</th>
    <th>Capacity</th>
    <th>Manager</th>
    <th>Delete</th>
  </tr>
  {{#each locations}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.capacity}}</td>
      <td>{{this.manager}}</td>
      <td><button onclick="deleteLocation({{this.id}})">Delete Location</button></td>
    </tr>
  {{/each}}
</table>

<br />

<button onclick="deleteCompany({{company.id}})">Delete Company</button>

<script src="/js/delete.js"></script>